<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds" debug="false">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy.MM.dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="cn.china.erp.index.controller" level="warn" additivity="true"/>


    <!-- root 的日志级别， 比当前级别大的级别都会打印出来-->
    <!-- logback的日志级别从小到大 ：TRACE, DEBUG, INFO, WARN, ERROR -->
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>